ion-toolbar {
  text-align: center;
}

ion-input, ion-button {
  margin: 2% 0%;
}

ion-button {
  margin-bottom: 5%;
}

.content-area {
  width: 50%;
  display: inline-block;
}

.content-parent {
  margin-top: 2%;
  text-align: center;
}

input {
  margin-left: 2%;
}

.delete:hover {
  box-shadow: 0 8px 6px -6px black;
}