<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-parent">
    <div class="content-area">
      <h1>Your Listings</h1>
      <ion-item-divider></ion-item-divider>
      <div class="listings-area" *ngIf="listings">
        <ion-card *ngFor="let item of listings">
          <div (click)="goToDetails(item)">
            <ion-card-header>
              <ion-card-subtitle>Hosted by you</ion-card-subtitle>
              <img src="{{item.getCoverPhoto()}}">
              <ion-card-title>{{item.getLocation()}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              ${{item.price}}/night. {{item.name}}
            </ion-card-content>
          </div>
        </ion-card>
      </div>
      <ion-button expand="block" id="new-listing" (click)="newListing()">New Listing</ion-button>
    </div>
  </div>
</ion-content>