<ion-header>
    <ion-toolbar>
      <ion-title>Rental Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="content-parent">
      <div class="content-area">
        <h3>About this rental</h3>
        <ion-item-divider></ion-item-divider>
        <div class="description-area">
          <h3>Massachusetts</h3>
          <img src="assets/2L6A5804-HDR-Mail-altrd_1_-_small.webp">
          <h5>Your host</h5>
          <p>John Smith</p>
          <h5>Your accomodation</h5>
          <p>1600 Pennsylvania Avenue Washington, DC 11111</p>
          <h5>Contact</h5>
          <p><a>email@example.com</a></p>
        </div>
      </div>
    </div>
  </ion-content>
