<ion-header>
  <ion-toolbar>
    <ion-title>Rental Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-parent">
    <div class="content-area">
      <div *ngIf="found">
        <h3>About this rental</h3>
        <ion-item-divider></ion-item-divider>
        <div class="description-area">
          <h3>{{location}}</h3>
          <img [src]="this.sanitizer.bypassSecurityTrustUrl(coverPhoto)">
          <h5>Host</h5>
          <p>{{hostName}}</p>
          <h5>Accomodation</h5>
          <p>{{name}}</p>
          <h5>Contact</h5>
          <p><a>{{email}}</a></p>
        </div>
      </div>
      <div *ngIf="!found">
          <h3>Error rental not found</h3>
      </div>
    </div>
  </div>
</ion-content>
