ion-toolbar {
  text-align: center;
}

.login-parent {
  text-align: center;
}

.login-area {
  margin-top: 5%;
  width: 30%;
  display: inline-block;
}

ion-input, ion-button {
  margin: 2% 0%;
}

ion-button {
  margin-bottom: 5%;
}

#dob {
  margin-bottom: 8%;
}